@use "../foundation/mixin";
.l-main{
    width: 100%;
}
.l-main__wrapper{
    @include mixin.mq-up('pc') {
        width: 100%;
        height: 100%;
        display:flex;
    }
}
.l-contents{
    padding: 0 20px;
    margin:0 auto 184px;
    @include mixin.mq-up('tab') {
        width: 88%;
        margin-bottom: 228px;
    }
    @include mixin.mq-up('pc') {
        margin-bottom: 353px;
    }
}

.l-search-result{
    margin-bottom: 30px;
}