@use "../foundation/mixin";

.l-sidebar{
    background: #F2EDE9;
    color: #707070;
    width: 87.5%;
    height: 100%;
    padding-top: 210px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y:scroll;
    transform: translate(101%);
    transition: transform .5s;
    z-index: 100;
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display:none;
    }
    @include mixin.mq-up('tab') {
        min-width: 367px;
        width: 45%;
    }
    @include mixin.mq-up('pc') {
        padding-top: 82px;
        overflow-y: visible;
        transform: translateX(0);
        position:static;
        height: auto;
    }
    h2{
        display: none;
        @include mixin.mq-up('pc') {
            display: block;
            font-size: 3.4rem;
            margin-left: 46px;
            margin-bottom: 85px;
        }
    }

    &.open{
        transform: translateX(0);  
    }
    &__drawer-bg{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        background-color: rgba(51, 51, 51, 0.5);
        display: none;
        top: 0;
        left: 0;
        @include mixin.mq-up('pc') {
            display: none;
        }
    }
    a{
        color: #707070;
    }
}