@use "../../foundation/mixin";

.p-archive__contents{
    padding: 0 20px;
    @include mixin.mq-up('tab'){
        padding: 0 40px;
    }
    @include mixin.mq-up('pc'){
        width: 87%;
        padding: 0;
        margin: 0 auto;
    }

    &__lead{
        h3{
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 30px;
            @include mixin.mq-up('tab'){
                font-size: 3.3rem;
            }
        }
        p{
            margin-bottom: 30px;
        }
    }
    &__card{
        color: #fff;
        margin-bottom: 20px;
        @include mixin.mq-up('tab'){
            display: flex;
        }
        img{
            display: block;
            width: 100%;
            object-fit: cover;
            height: auto;
            @include mixin.mq-up('tab'){
                width: 50%;
            }
        }
        &__caption{
            background: #3C2B1C;
            padding: 30px 3% 48px 3%;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 2.0rem;
                margin-bottom: 24px;
                font-weight: bold;
            }
            h3{
                font-weight: bold;
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 50px;
                line-height: 1.5;
            }
        }
    }
}
